HMS_POSTGRES_USER=postgres
HMS_POSTGRES_PASSWORD=replace-with-strong-postgres-password
HMS_PGADMIN_EMAIL=admin@hms.dev
HMS_PGADMIN_PASSWORD=replace-with-strong-pgadmin-password

HMS_RABBITMQ_USERNAME=replace-with-rabbitmq-user
HMS_RABBITMQ_PASSWORD=replace-with-rabbitmq-password

HMS_JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
HMS_SEED_DEFAULT_PASSWORD=replace-with-local-bootstrap-password
